@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	font-family: "Inconsolata", monospace;
background-color: #8BC6EC;
	/* font-family: "Open Sans", sans-serif; */
	margin: 0;
}

#world_container {
	margin: 10px;
}

.world {
	display: flex;
	align-items: center;
	margin: 10px;
	padding: 10px 10px;
	flex-direction: column;
}
h1 {
	font-size: 2rem;
	letter-spacing: 3px;
	padding-bottom: 20px;

}
#data h2 {
	font-size: 1.5rem;
	letter-spacing: 3px;

}
#data h4 {
	font-size: 1.2rem;
	letter-spacing: 3px;
}

.list {
	list-style-type: none;
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
}

li {
	display: block;
	padding: 20px 20px;

}
form {
	float: right;
	overflow: none;
	margin-right: 50px;
}
input {
	font-size: 1.4rem;
	cursor: pointer;
	outline: none;
	padding: 10px 10px;
	
	background-color: gray;
	border-radius: 8px;
	color: white;
	width: 210px;
}
::placeholder {
	color: white;
}

@media screen and (max-width: 650px) {
.list {
	flex-direction: column;

}
}